version: 6.60.9

type: DeclarativeSource

check:
  type: CheckStream
  stream_names:
    - BalanceSheet

streams:
  - type: DeclarativeStream
    name: BalanceSheet
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url: >-
          https://quickbooks.api.intuit.com/v3/company/{{ config['realm_id']
          }}/reports/BalanceSheet
        http_method: GET
        authenticator:
          type: OAuthAuthenticator
          client_id: "{{ config['client_id'] }}"
          grant_type: refresh_token
          client_secret: "{{ config['client_secret'] }}"
          refresh_token: "{{ config['refresh_token'] }}"
          client_id_name: client_id
          expires_in_name: expires_in
          grant_type_name: grant_type
          access_token_name: access_token
          client_secret_name: client_secret
          refresh_token_name: refresh_token
          token_refresh_endpoint: "{{ config[\"token_refresh_endpoint\"] }}"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - Rows
            - Row
            - "*"
            - Rows
            - Row
    primary_key:
      - ColData
      - "0"
      - id

spec:
  type: Spec
  documentation_url: >-
    https://developer.intuit.com/app/developer/qbo/docs/api/accounting/all-entities/
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - realm_id
      - token_refresh_endpoint
      - refresh_token
      - client_id
      - client_secret
    properties:
      realm_id:
        type: string
        description: company id
        order: 0
        title: Realm Id
      client_id:
        type: string
        order: 3
        title: Client ID
        airbyte_secret: true
      client_secret:
        type: string
        order: 4
        title: Client secret
        airbyte_secret: true
      refresh_token:
        type: string
        order: 2
        title: Refresh Token
      token_refresh_endpoint:
        type: string
        name: token_refresh_endpoint
        order: 1
        title: Token Refresh Endpoint
    additionalProperties: true

metadata:
  assist:
    docsUrl: >-
      https://developer.intuit.com/app/developer/qbo/docs/api/accounting/all-entities/
  testedStreams:
    BalanceSheet:
      isStale: false
      hasRecords: false
      streamHash: fbbfff7f4661f0608a826d67f19935da945ff8ec
      hasResponse: false
      primaryKeysAreUnique: false
      primaryKeysArePresent: false
      responsesAreSuccessful: false
  autoImportSchema:
    BalanceSheet: true
